<!-- FILEPATH: /C:/Users/DUOC/Desktop/LimpioMarket/LimpioMarket/webMarket/templates/login.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock css %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Iniciar sesión</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var messages = {{ messages|safe }};
            messages.forEach(function(message) {
                Swal.fire({
                    icon: message.tags.includes('success') ? 'success' : message.tags.includes('error') ? 'error' : message.tags.includes('warning') ? 'warning' : 'info',
                    title: message.tags.includes('success') ? '¡Éxito!' : message.tags.includes('error') ? '¡Error!' : message.tags.includes('warning') ? 'Advertencia' : 'Información',
                    text: message.message
                });
            });
        });
    </script>
</body>
</html>
