<!DOCTYPE html>
<html>
<head>
    <title>Visualizar y Actualizar Orden</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/visualizar_orden.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="button-container">
        <a href="{% url 'lista_productos' %}" class="btn" id="logoutBtn" style="margin-right: 80%;">Volver</a>
    </div>
    <div class="container">
        <h1>Visualizar y Actualizar Orden</h1>
        <form id="updateForm" method="post" action="{% url 'actualizar_orden' orden.id %}">
            {% csrf_token %}
            <h2>Información de la Orden</h2>
            <table>
                <tr>
                    <td>ID de Orden:</td>
                    <td>{{ orden.id }}</td>
                </tr>
                <tr>
                    <td>Usuario:</td>
                    <td>{{orden.usuario.nombre_usuario}}</td>
                </tr>
                <tr>
                    <td>Nombre Completo:</td>
                    <td><input type="text" name="nombre_completo" value="{{ orden.usuario.nombre_completo }}" required></td>
                </tr>
                <tr>
                    <td>RUT:</td>
                    <td><input type="text" name="rut" value="{{ orden.usuario.rut }}" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" value="{{ orden.usuario.email }}" required></td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td><input type="text" name="telefono" value="{{ orden.usuario.telefono }}" required></td>
                </tr>
                <tr>
                    <td>Dirección:</td>
                    <td><input type="text" name="direccion" value="{{ orden.usuario.direccion }}" required></td>
                </tr>
                <tr>
                    <td>Fecha:</td>
                    <td>{{ orden.fecha }}</td>
                </tr>
                <tr>
                    <td>Subtotal:</td>
                    <td>{{ subtotal }}</td>
                </tr>
                <tr>
                    <td>IVA:</td>
                    <td>{{ iva }}</td>
                </tr>
                <tr>
                    <td>Descuento:</td>
                    <td>{{ descuento }}</td>
                </tr>
                <tr>
                    <td>Envío:</td>
                    <td>{{ envio }}</td>
                </tr>
                <tr>
                    <td>Total Orden:</td>
                    <td>{{ total }}</td>
                </tr>
            </table>
            <h2>Detalles de la Orden</h2>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total Actual Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                    <tr>
                        <td>
                            <input type="text" name="nombre_producto_{{ detalle.detalle.id }}" value="{{ detalle.detalle.producto.nombre }}" required>
                        </td>
                        <td>
                            <input type="number" name="cantidad_{{ detalle.detalle.id }}" value="{{ detalle.detalle.cantidad }}" min="1" required>
                        </td>
                        <td>
                            <input type="number" name="precio_producto_{{ detalle.detalle.id }}" value="{{ detalle.detalle.producto.precio }}" min="500" step="0.01" required>
                        </td>
                        <td>{{ detalle.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="button-container">
                <button type="submit" class="btn actualizar-orden">Actualizar Orden</button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('updateForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const nombreCompleto = form.querySelector('input[name="nombre_completo"]').value.trim();
                const rut = form.querySelector('input[name="rut"]').value.trim();
                const email = form.querySelector('input[name="email"]').value.trim();
                const telefono = form.querySelector('input[name="telefono"]').value.trim();
                const direccion = form.querySelector('input[name="direccion"]').value.trim();


                if (nombreCompleto.length < 5) {
                    Swal.fire('Error', 'El nombre completo debe tener al menos 5 caracteres.', 'error');
                    return;
                }

                if (rut.length < 9) {
                    Swal.fire('Error', 'El RUT debe tener al menos 9 caracteres.', 'error');
                    return;
                }

                if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                    Swal.fire('Error', 'El email no es válido.', 'error');
                    return;
                }

                if (telefono.length !== 9) {
                    Swal.fire('Error', 'El teléfono debe tener 9 caracteres.', 'error');
                    return;
                }

                if (direccion.length < 5) {
                    Swal.fire('Error', 'La dirección debe tener al menos 5 caracteres.', 'error');
                    return;
                }

                const productInputs = form.querySelectorAll('input[name^="nombre_producto_"]');
                const cantidadInputs = form.querySelectorAll('input[name^="cantidad_"]');
                const precioInputs = form.querySelectorAll('input[name^="precio_producto_"]');

                for (let input of productInputs) {
                    if (input.value.trim().length < 3) {
                        Swal.fire('Error', 'El nombre del producto debe tener al menos 3 caracteres.', 'error');
                        return;
                    }
                }

                for (let input of cantidadInputs) {
                    if (input.value <= 0) {
                        Swal.fire('Error', 'La cantidad debe ser mayor a 0.', 'error');
                        return;
                    }
                }

                for (let input of precioInputs) {
                    if (input.value < 500) {
                        Swal.fire('Error', 'El precio unitario debe ser mayor a 500.', 'error');
                        return;
                    }
                }

                const formData = new FormData(form);

                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: data.success
                        }).then(() => {
                            window.location.reload(); // Recargar la página completa
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.error
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al actualizar la orden.'
                    });
                });
            });
        });
    </script>
</body>
</html>
