body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.orden {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.orden h2 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.orden .info-container {
    margin-bottom: 15px;
}

.orden .info-container table {
    width: 100%;
    border-collapse: collapse;
}

.orden .info-container table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.orden .info-container table td:first-child {
    font-weight: bold;
    background-color: #f9f9f9;
}

.vendedor-comprador-container {
    display: flex;
    justify-content: space-between;
}

.vendedor, .comprador {
    width: 48%;
}

.vendedor-comprador-tabla {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.vendedor-comprador-tabla th, 
.vendedor-comprador-tabla td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.vendedor-comprador-tabla th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.factura-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.factura-tabla th, .factura-tabla td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.factura-tabla th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.factura-tabla tr td[colspan="4"] {
    text-align: left;
    font-weight: bold;
}

.factura-tabla tr td[colspan="3"] {
    text-align: right;
}

.info-vendedor-comprador {
    margin: 20px 0;
}

.info-vendedor-comprador table {
    width: 100%;
    border-collapse: collapse;
}

.info-vendedor-comprador table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.info-vendedor-comprador table td:first-child {
    font-weight: bold;
    background-color: #f9f9f9;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer; /* Add this line to make the cursor change */
}

.btn:hover {
    background-color: #004494;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .step-links {
    display: inline-block;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current {
    margin: 0 5px;
    font-weight: bold;
}