body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.form-container, .productos-container {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container form input, .form-container form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container form button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.form-container form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

.contact-info {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info form input, .contact-info form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-info form button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.contact-info form button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 90%;
}

.back-button:hover {
    background-color: #004494;
}
